---
layout: default
---
 <div id="changenoise">
 <div class="container-circle-mega button" id="noise">
      <span class="label">STATIC!</span>
  </div>
</div>
 </div>
<div class="container">
<div class="container-text">
	<h1>TRAVEL NEEDS: MAGICK CODES</h1>
<form accept-charset="UTF-8" action="https://formkeep.com/f/2540dbd481b6" method="POST">
  <input type="hidden" name="utf8" value="✓">
	{% for item in site.data.travel%}
		{% if item.input == 'select' %}
		<h4>{{item.text}}</h4>
			<select name = "{{item.name}}" name = "{{item.name}}">
			<option value = "nope" name ="nope"></option>
			<option value = "{{item.selection1}}" name ="{{item.selection1}}">{{item.selection1}}</option>
			<option value = "{{item.selection2}}" name ="{{item.selection2}}">{{item.selection2}}</option>
			<option value = "{{item.selection3}}" name ="{{item.selection3}}">{{item.selection3}}</option>
			</select>
		{% endif %}
		{% if item.input == 'date' %}
		<h4>{{item.text}}</h4>
			<input class="date" type="date" name = "{{item.name}}">
		{% endif %}
		{% if item.input == 'text' %}
		<h4>{{item.text}}</h4>
			<input type = "{{item.input}}" name = "{{item.name}}"/>
		{% endif %}
	{% endfor %}
</div>	
<div class="center">
	<button class="container-circle-giga button button-compass spin" value="submit">
      <i class="icon-arrow"></i>
      <span class="label">RSVP</a></span>
    </button>
</div>
</form>
</div>